{% extends 'acereadymade/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    <link href="{% static 'vendors/line-icon/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/elegant-icon/style.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/bootstrap-selector/css/bootstrap-select.min.css' %}" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100i,200,400&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<section class="our_latest_product">
    <div class="container">
        <div class="s_m_title">
        </div>
        <div>
            <p class="text-center my_title"> You have searched for: <b>"{{ query }}"</b></p>
        </div>
<!--        <div class="l_product_slider owl-carousel">-->
<!--            <div class="item">-->
        {% for product in products %}

            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="l_product_item">
                    <div class="l_p_img">
                        <a href="{% url 'acereadymade_app:product_detail' product.slug product.id %}">
                        <img src="{{product.image.url}} " alt="">
                        </a>

                        <h1>-30</h1>
                    </div>
                    <div class="l_p_text">
                        <ul>
                            <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                            <li><a class="add_cart_btn" href="{% url 'cart:add_cart' product.id %}">Add To Cart</a></li>
                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                        </ul>
                        <h4>{{ product.name }}<br>With Attached Blowse</h4>
                        <h5>
                            <del>₨ 3,400.00</del>
                            ₨ {{ product.price }}
                        </h5>
                    </div>
                </div>
            </div>
                {% endfor %}

<!--            </div>-->
<!--        </div>-->
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
{% endblock %}