{% extends 'acereadymade/base.html' %}
{% load static %}
{% block content %}

            <div class="contacthome">
            <div class="home_icon">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <h1><a href="index.php"></a><g>CONTACT US</g></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="contact_inpute">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <h1>Your Name (required)</h1>
                  <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div>



 <h1>Your Email (required)</h1>
                  <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div>




 <h1>Subject</h1>
                  <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
</div>



  <h1>Your Message</h1>
   <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>



<h2><a href="#">Send</a></h2>
</div>


<div class="col-md-3">
</div>


  <div class="col-md-6">
    <div class="visitcontact">
    <h3>The <b>Visit Our Store</b></h3>
    <h4><g></g><b>Address:</b> Bhaisepati, Lalitpur, Nepal</h4>
    <h4><g></g><b>Phone:</b> Bhaisepati, Lalitpur, Nepal</h4>
    <h4><g></g><b>Email:</b> Bhaisepati, Lalitpur, Nepal</h4>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}









