<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">


        <link href="vendors/line-icon/css/simple-line-icons.css" rel="stylesheet">
        <link href="vendors/elegant-icon/style.css" rel="stylesheet">

        <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">


        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">



    <title>Sahiba oceanic vogue heavy-Ace Radymade</title>
  </head>
  <body>

    <div class="top_eng">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
      <div class="dr_hover">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="images/engicon.png">ENG
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="#"> <img src="images/engicon.png">ENG</a><br>
          <a href="#"><img src="images/engicon1.png">FRH</a>
        </div>
      </div>
      </div>



      <div class="col-md-1">
        <div class="dr_hover">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="#">USD</a><br>
          <a href="#">EUR</a>
        </div>
      </div>
      </div>




      <div class="col-md-4">
        </div>

        <div class="col-md-2">
        <h1>Welcome to Ace Readymade</h1>
        </div>

        <div class="col-md-1">
        <h2><a href="myaccount.php">MY ACCOUNT</a></h2>
        </div>


        <div class="col-md-1">
        <h2><a href="wishlist.php">MY WISHLIST</a></h2>
        </div>


        <div class="col-md-1">
        <h2><a href="cart.php">CART</a></h2>
        </div>



        <div class="col-md-1">


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><h2><a href="#">LOG IN</a></h2></button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">





       <div class="new_account">
              <div class="container">
                <div class="new_account1">
                <div class="row">
                  <div class="col-md-12">
                    <h1>LOGIN</h1>



                    <h2>Username or email address *</h2>
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>



                   <h2>Password *</h2>
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                    </div>
                    <input type="password" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
                </div>



                  <div class="form-group">
                  </div>
                  <button type="submit" class="btn btn-primary"><div class="singin01">Login</div></button>
                  <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          <div class="singin02">Remember me</div>
        </label>
      </div>


      <div class="col-md-12">
        <h5><a href="#">Lost your password?</a></h5>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
        </div>
        </div>
        </div>





        <div class="wishlogo">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="index.php"><img src="images/flogo.png" class="img-fluid" alt="Responsive image"></a>
          </div>


           <div class="col-md-5">
              <div class="input-group mb-3">
                 <div class="input-group">
                    <input type="text" placeholder="Search for products" class="form-control" aria-label="Text  input with dropdown button" class="rounded-left">
                  <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">SELECT CATEGORY</button>
              <div class="dropdown-menu">
             <a class="dropdown-item" href="faqs.php">Gown</a>
          <a class="dropdown-item" href="faqs.php">Kurta Salwar</a>
        <a class="dropdown-item" href="faqs.php">Saree</a>
      <a class="dropdown-item" href="faqs.php">Dresses</a>
        </div>
        <div class="input-group01">
         <button type="button" class="btn btn-outline-dark"><b></b></button>
          </div>
        </div>
            </div>
              </div>
                </div>





    <div class="col-md-3">
      <h4>Call Us for Wholesale Inquiries</h4>
      <h5>+977-9869861393</h5>
    </div>







    <div class="col-md-1">
      <div class="modal01">
<div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </button>
  <div class="dropdown-menu">
    <div class="gropcls">
      <div class="row">
        <div class="col-md-5">
        <h1>0 ITEMS</h1>
        </div>
        <div class="col-md-7">
        <h1><a href="cart.php">VIEW CART</a></h1>
        </div>
        <div class="col-md-12">
          <h2>No products in the cart.</h2>
        </div>
  </div>
  </div>
    </div>
        </div>
            </div>
                </div>
                    </div>
                        </div>
                            </div>






<div class="faqs">
  <div class="container">
    <div class="rwo">
      <div class="col-md-12">
        <div class="faqs1">
      <div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><a href="index.php">HOME</a></div>
  <div class="p-2 bd-highlight"><a href="shop.php">SHOP</a></div>
  <div class="p-2 bd-highlight"><a href="contact.php">CONTACT US</a></div>
  <div class="col-md-8">
  </div>
  <div class="col-md-1">
  <div class="p-5 bd-highlight"><a href="faqs.php"> FAQS</a></div>
</div>
  </div>
    </div>
      </div>
        </div>
          </div>
            </div>

            <div class="contacthome">
            <div class="home_icon">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <h1><a href="index.php"></a><g><a href="shop.php">Shop</a></g> Sahiba oceanic vogue heavy</h1><g></g>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="add_file">
            <div class="container">
              <div class="row">
               <div class="col-md-6">
                <div class="add_file_1">
                  <h1>-38</h1>
                <img src="images/AR-A3.-600x857.jpg">
              </div>
            </div>


            <div class="col-md-6">
              <div class="priceshop">
              <h2>SAHIBA OCEANIC VOGUE HEAVY FANCY SAREE WITH BLOUSE</h2>
              <h3>     <g> <a href="reviews_yet.php">( There are no reviews yet. )</a></g></h3>
              <h4><s>₨8,000.00</s> <g>₨5,000.00</g></h4>
              <h5><b>Saree Fabric:</b> Fancy</h5>
              <h5><b>Blouse Fabric:</b> Fancy</h5>
              <h5><b>Type of Saree:</b>  Embroidered</h5>
              <h5><b>Sleeves Type:</b> Half Sleeves</h5>
              <h5><b>Wash Care:</b> Dry Wash Only</h5>

              <h6>Availability: <b>1 in stock</b></h6>
            </div>


            <div class="saree_addtocart">
              <div class="row">
                <div class="col-md-3">
                  <a href="alladdtocart.php"><h1><g></g>ADD TO CART</h1></a>
                </div>

                <div class="col-md-1">
                  <a href="#"><h2></h2></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="dubelimg">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a href="#"><img src="images/AR-A3.-150x150.jpg"></a>
          </div>


          <div class="col-md-2">
            <a href="#"><img src="images/AR-A3-150x150.jpg"></a>
          </div>
        </div>
      </div>
    </div>




    <div class="shop_desc">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="shop_desc_1">
            <li><a href="#">DESCRIPTION</a></li>
            <li><a href="#">SIZE GUIDE</a></li>
            <li><a href="#">REVIEWS (0)</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>





              <div class="priceshop_01">
                <div class="container">
                  <div class="col-md-12">
              <h5><b>Saree Fabric:</b> Fancy</h5>
              <h5><b>Blouse Fabric:</b> Fancy</h5>
              <h5><b>Type of Saree:</b>  Embroidered</h5>
              <h5><b>Sleeves Type:</b> Half Sleeves</h5>
              <h5><b>Wash Care:</b> Dry Wash Only</h5>
            </div>
          </div>
        </div>








 <!-- our_latest_product_start -->


 <div class="bckcart">

 <section class="our_latest_product">
            <div class="container">
                <div class="s_m_title">
                </div>
                <div class="l_product_slider owl-carousel">
                    <div class="item">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/MG_1901-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Brown/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,500.00</del>₨ 2,800.00</h5>
                            </div>
                        </div>
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSD-O80-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Red/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,400.00</del>₨ 2,900.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/AR-A8.-1-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Broun/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 2,500.00</del>₨ 2,100.00</h5>
                            </div>
                        </div>
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSD-O78-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Red/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,900.00</del>₨ 3,400.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSD-O73-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Brown/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,200.00</del>₨ 2,600.00</h5>
                            </div>
                        </div>
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSI-O10.-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Yellow/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,300.00</del>₨ 2,400.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSD-O74-300x300.jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Red/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,800.00</del>₨ 3,300.00</h5>
                            </div>
                        </div>
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img src="images/ARWSI-O10.-300x300 (1).jpg" alt="">

                            </div>
                            <div class="l_p_text">
                               <ul>
                                    <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="addtocart_01.php">Add To Cart</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>Gray/Blue Floral Printed Silk Saree<br>With Attached Blowse</h4>
                                <h5><del>₨ 3,400.00</del>₨ 2,600.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
     </section>
</div>


                <!-- our_latest_product_end -->




  <!-- Product section -->








  <div class="aceicon">
  <div class="container">
    <div class="row">
    <h1>ace radymade</h1>
  </div>
</div>
</div>


<div class="futtor">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>CONTACT US</h1>
        <h2><g></g><b>Address:</b>Bhasepati, Lalitpur, Nepal</h2>
        <h2><g></g><b>Phone:</b>+977-9869861393</h2>
        <h2><g></g><b>Email:</b> info@acereadymade.com, sales@acereadymade.com, wholesale@acereadymade.com</h2>
      </div>


      <div class="col-md-3">
        <h1>SHOP</h1>
        <h3><a href="shop.php">Shop</a></h3>
        <h3><a href="cart.php">Cart</a></h3>
        <h3><a href="faqs.php">Checkout</a></h3>
        <h3><a href="wishlist.php">Wishlist</a></h3>
      </div>



      <div class="col-md-3">
        <h1>USEFUL LINKS</h1>
        <h3><a href="index.php">Home</a></h3>
        <h3><a href="faqs.php">Privacy Policy</a></h3>
        <h3><a href="faqs.php">Return Policy</a></h3>
        <h3><a href="faqs.php">Terms & Conditions</a></h3>
      </div>



      <div class="col-md-3">
        <h1>FOLLOW US</h1>
        <h4><a href="#"><g></g></a>
        </h4><h4><a href="#"></a></h4>
        <h4><a href="#"></a></h4>
          <h4><a href="#"></a></h4>
        </div>
      </div>
    </div>
    </div>






    <div class="futtorlast">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <img src="images/sticky_logo.png">
          </div>

          <div class="col-md-8">
          </div>

          <div class="col-md-3">
            <h1>© 2019 Ace Readymade. All Rights Reserved.</h1>
          </div>
        </div>
      </div>
    </div>
















<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>




































