{% extends 'acereadymade/base.html' %}

{% block content %}
<div class="Product_name">
  <div class="container">
    <div class="Product_name1">
      <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-3">
          <h1>Product Name</h1>
        </div>
        <div class="col-md-3">
          <h1>Unit Price</h1>
        </div>
        <div class="col-md-3">
          <h1>Stock Status</h1>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <h2>No products were added to the wishlist</h2>
        </div>

        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



